{% extends "head.html" %}
{% block body %}
<script type="text/javascript">
  setInterval(update_values, 1000);
  setInterval(update_valuesx, 5000);

  function update_values() {
      $.getJSON($SCRIPT_ROOT + '/_stuff',
               
      function(data) {
        $('#temp').text(data.temp);
        $('#hum').text(data.hum);
        $('#pre').text(data.pre);
      });
};

function update_valuesx() {
      $.getJSON($SCRIPT_ROOT + '/_stuff',
               
      function(data) {
        $('#temperature').text(data.temperature);
        $('#humidity').text(data.humidity);
        $('#pressure').text(data.pressure);

        var ctx = document.getElementById('myChartx');
        var myChartx = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Temperature', 'Humidity', 'pressure'],
                datasets: [{
                    label: 'Sensor data',
                    data: [1, 1, 1],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var cty = document.getElementById('myCharty');
        var myCharty = new Chart(cty, {
            type: 'doughnut',
            data: {
                labels: ['Temperature', 'Humidity', 'pressure'],
                datasets: [{
                    label: 'Sensor data',
                    data: [1, 1, 1],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        myChartx.data.datasets[0].data[0] = data.temp;
        myChartx.data.datasets[0].data[1] = data.hum;
        myChartx.data.datasets[0].data[2] = data.pre;
        myChartx.update();

        myCharty.data.datasets[0].data[0] = data.temperature;
        myCharty.data.datasets[0].data[1] = data.humidity;
        myCharty.data.datasets[0].data[2] = data.pressure;
        myCharty.update();

      });
      
};

</script>
  <body  class="overlay-scrollbar">
    <!-- navbar -->
    <div class="navbar">
      <!-- nav left -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-bars" onclick="collapseSidebar()"></i>
          </a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <!-- end nav left -->
      <!-- form -->
      <form class="navbar-name">
        <h4 style="text-align: center">Weather App</h4>
      </form>
      <!-- end form -->
      <!-- nav right -->
      <ul class="navbar-nav nav-right">
        <li class="nav-item mode">
          <a class="nav-link" href="#" onclick="switchTheme()">
            <i class="fas fa-moon dark-icon"></i>
            <i class="fas fa-sun light-icon"></i>
          </a>
        </li>
      </ul>
      <!-- end nav right -->
    </div>
    <!-- end navbar -->
    <!-- sidebar -->
    <div class="sidebar">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
          <a href="{{ url_for('index') }}" class="sidebar-nav-link">
            <div>
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <span>Dashboard</span>
          </a>
        </li>
        <li  class="sidebar-nav-item">
          <a href="#" class="sidebar-nav-link">
            <div>
              <i class="fas fa-spinner"></i>
            </div>
            <span>Chart</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- end sidebar -->
    <!-- main content -->
    <div class="wrapper">
      
      <div class="row" onload="update_values();">
        <div class="col-4 col-m-6 col-sm-6">
          <div class="counter bg-primary">
            <p>
              <i class="fas fa-temperature-high"></i>
            </p>
            <h3><span id="temp">0</span></h3>
            <p>Temperature</p>
          </div>
        </div>
        <div class="col-4 col-m-6 col-sm-6">
          <div class="counter bg-warning">
            <p>
              <i class="fas fa-tint"></i>
            </p>
            <h3><span id="hum">0</span></h3>
            <p>Humidity</p>
          </div>
        </div>
        <div class="col-4 col-m-6 col-sm-6">
          <div class="counter bg-success">
            <p>
              <i class="fas fa-tachometer-alt"></i>
            </p>
            <h3><span id="pre">0</span></h3>
            <p>Pressure</p>
          </div>
        </div>
      </div>

      <div class="row" onload="update_valuesx();">

        <div class="col-6 col-m-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3>Sensor Data</h3>
            </div>
            <div class="card-content">
              <canvas id="myChartx"></canvas>
            </div>
          </div>
        </div>

        <div class="col-6 col-m-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3>API Data</h3>
            </div>
            <div class="card-content">
              <canvas id="myCharty"></canvas>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    <!-- import script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- <script src="index.js"></script> -->
    <script src="{{url_for('static', filename='index.js')}}"></script>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

  </body>

  {% endblock %}